/ TODO - make the calendar widget nicer
/ 
/ :javascript
/   google.setOnLoadCallback(getMyFeed);
/   google.load("gdata", "1");
/ 
/   function getMyFeed() {
/     var scope = 'http://www.google.com/calendar/feeds/';
/     if (!google.accounts.user.checkLogin(scope)) {
/       google.accounts.user.login();
/     } else {
/       // ready to go
/     }
/   }
/ 
/  

/

!!! XML
!!!
%html
  %head
    %title The Ottawa Group of Ruby Enthusiasts &mdash; OttawaRuby
    %script{:type => "text/javascript", :charset => "utf-8", :src => "http://www.google.com/jsapi?key=ABQIAAAAaIhVrXhnIS5O7QrS_--IchQPIGa-TVZmamUVglfaxOjQ4Zjn1xQV7fHoEGlPZ4a0shqAqKxc2mGdpA"}
    %link{:rel => "stylesheet", :href => "css/ottawaruby.css", :type => "text/css", :media => "all"}		

  %body

    #wrapper

      %h1#logo

      #content
        #whats-next
          %h2 What&rsquo;s Next

          .google-calendar
            %script{:src => "http://www.gmodules.com/ig/ifr?url=http://ottawaruby.ca/calendar-config.xml&amp;up_showCalendar2=1&amp;up_showAgenda=0&amp;up_calendarFeeds=(%7B%7D)&amp;up_firstDay=Sunday&amp;up_syndicatable=true&amp;up_stylesheet=&amp;up_sub=1&amp;up_c0u=http%3A%2F%2Fwww.google.com%2Fcalendar%2Ffeeds%2F3v6obk5b69bg6ru87ff74ov3o8%2540group.calendar.google.com%2Fpublic%2Fbasic&amp;up_c0c=&amp;up_c1u=&amp;up_c1c=&amp;up_c2u=&amp;up_c2c=&amp;up_c3u=&amp;up_c3c=&amp;up_min=&amp;up_start=&amp;up_timeFormat=1%3A00pm&amp;up_calendarFeedsImported=0&amp;synd=open&amp;w=274&amp;h=157&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"}
            / http://ottawaruby.ca/calendar-config.xml
            / %iframe{:src => "http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=250&amp;wkst=1&amp;bgcolor=%23993333&amp;src=3v6obk5b69bg6ru87ff74ov3o8%40group.calendar.google.com&amp;color=%23993333&amp;ctz=America%2FMontreal", :style => " border-width:0", :width => "700", :height => "250", :frameborder => "0", :scrolling => "no"}

        #box
          %h2 What is it?

        #box
          %h2 Where is it?
          %img{:src => ""}
          %p OGRE events are hosted at the Code Factory.  

          .google-map
            Some google map thing

        #box
          %h2 Who&rsquo;s involved?

          %ul
            %li
              .member Cody Fauser
              .projects
                %a{:href => ""} ActiveMerchant

            %li
              .member James MacCaulay
              .projects
                %a{:href => ""} ActiveMerchant

            %li
              .member Edward Ocampo-Gooding
              .projects
                %a{:href => ""} Reckoning
    
      #footer
        %p &copy; 2009 OGRE
        %p 
          Design by 
          %a{ :href => 'http://www.tetsutakara.com/', :target => 'blank' } 
            Tetsuro Takara