/
  TODO - make the calendar widget nicer
/
  \%script{:type => "text/javascript", :charset => "utf-8", :src => "http://www.google.com/jsapi?key=ABQIAAAAaIhVrXhnIS5O7QrS_--IchQPIGa-TVZmamUVglfaxOjQ4Zjn1xQV7fHoEGlPZ4a0shqAqKxc2mGdpA"}
/
/
  \:javascript
/
  google.setOnLoadCallback(getMyFeed);
/
  google.load("gdata", "1");
/
/
  function getMyFeed() {
/
  var scope = 'http://www.google.com/calendar/feeds/';
/
  if (!google.accounts.user.checkLogin(scope)) {
/
  google.accounts.user.login();
/
  } else {
/
  \// ready to go
/
  }
/
  }
/
/
  \%img{:src => "images/logo2.png" :style => "position: absolute; top: -1000px;"}
#main
  %h1#logo
    The Ottawa Group of Ruby Enthusiasts
  #whats-next
    %h2
      What&rsquo;s Next
    .google-calendar
      %iframe{ :src => "http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=100&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3v6obk5b69bg6ru87ff74ov3o8%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FMontreal", :frameborder => "0", :height => "100", :scrolling => "no", :style => "border-width:0", :width => "400" }
  #what-is-it
    %h2
      What is it?
  #where-is-it
    %h2
      Where is it?
    .google-map
      Some google map thing
  #who-is-it
    %h2
      Who is it?
    %ul
      %li
        .member
          Cody Fauser
        .projects
          %a{ :href => "" }
            ActiveMerchant
      %li
        .member
          James MacCaulay
        .projects
          %a{ :href => "" }
            ActiveMerchant
      %li
        .member
          Edward Ocampo-Gooding
        .projects
          %a{ :href => "" }
            Reckoning
  /
  /
    \.note
  /
    \%h2 Quick Notes
  /
    \%ul
  /
    \%li
  /
    Haml is indented with
  /
    \%strong two spaces *only*
  /
    \%li
  /
    The first character of any line is called
  /
    the "control character"
  /
    \%li Haml magically takes care of indention for you
  /
    \%li It looks complicated until you look closely.
  /
    \%li
  /
    Haml does have blocks. Except, not in this example.
  /
    We turned them off for security.
  /
    \%li If you see any errors here, please let me know
  /
  /
    \.note
  /
    You can get more information by reading the
  /
    \%a{:href => "http://haml.hamptoncatlin.com/docs/haml"}
  /
    Official Haml Reference
  /
  /
    \.note
  /
    \%p
  /
    This example doesn't allow ruby to be
  /
    executed, but real Haml does in Rails.
  /
    \%p
  /
    This would be done with an = at the end
  /
    or beginning of a line.
  /
    \%p
  /
    Read the documentation for more information
