!!! XML
!!!
%html
  %head
    %title The Ottawa Group of Ruby Enthusiasts &mdash; OttawaRuby
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" }
    %script{:type => "text/javascript", :charset => "utf-8", :src => "javascript/members.js"}
    %link{:rel => "stylesheet", :href => "css/ottawaruby.css", :type => "text/css", :media => "all"}

  %body
    #wrapper
      %h1#logo

      %img{ :src => "images/top-border.png"}
      #content
        
        #whats-next
          %h2 What&rsquo;s Next?

          .calendar
            %h3 March 24 @ 6:00 PM:
            
            %ul
              %li
                %a{:href => "http://ryanlowe.name"}
                  Ryan Lowe
                on
                %a{:href => "http://rubyonrails.com"}
                  Rails Security
              %li
                %a{:href => "http://juliehache.com"}
                  Julie Hach&eacute;
                on
                %a{:href => "http://www.metasploit.com"}
                  Metasploit

        #what-is-it.box
          %h2 What is it?
          
          %p A group of enthusiasts who get together once in a while to hack, present, and talk about the Ruby programming language.
          %p
            %em You should come by.
          %p
            %small Post-meetup excursions have been known to involve the neighbourhood pubs. (Just sayin&rsquo;)
          %p
            %small
              Here&rsquo;s our
              %a{:href => "http://groups.google.com/group/ogre-list"} mailing list

        #where-is-it.box
          %h2 Where is it?
          %p The Code Factory, 2nd Floor:

          .google-map
            %iframe{:width => "235", :height => "275", :frameborder => "0", :scrolling => "no", :marginheight => "0",  :marginwidth => "0", :src =>  "http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=246+Queen+Street,+ottawa&amp;sll=49.891235,-97.15369&amp;sspn=36.544557,79.189453&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;ll=45.427793,-75.697346&amp;output=embed&amp;s=AARTsJpheuTusuWXn4fkfrmo64ubKt3OWg"}

        #whos-involved.box
          %h2 Who&rsquo;s involved?

          %ul#members
            / Populated via Javascript
            %li
              %small &hellip;and many more

      %img{ :src => "images/bottom-border.png"}
      #footer
        %p &copy; 2009 OGRE
        %p 
          Design by 
          %a{ :href => 'http://www.tetsutakara.com/', :target => 'blank' }
            Tetsuro Takara