!!! XML
!!!
%html
  %head
    %title Manage Content &mdash; The Ottawa Group of Ruby Enthusiasts &mdash; OttawaRuby
    %link{:rel => "stylesheet", :href => "css/admin.css", :type => "text/css", :media => "all"}
    
  %body
  #wrapper
    %h1 Manage Content
    
    