body {
  background: #fff  url('../images/bg.gif') repeat;
  font-family: Trebuchet, "Trebuchet MS", sans-serif;
  color: #660000; }

a:link, a:visited, a:hover {
  color: #9f3535;
  text-decoration: underline;
}

#wrapper {
  width: 790px;
  margin: 0px auto;
  text-align: left; }

#content {
  background: #fff;
  overflow: hidden;
  padding: 60px 20px 20px 20px; }

#logo {
  margin: 10px 0 -55px 0;
  color: #993333;
  background: transparent url('../images/logo.png') no-repeat;
  height: 120px;
  padding: 0 10px 0 200px;
  font-size: 1em; 
  position:relative;
  z-index:1;
}

#whats-next .calendar {
  /* margin-left: 120px; */
  margin: 0 auto 0 auto;
  width: 480px;
}

#whats-next .calendar ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#whats-next .calendar ul li {
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.box {
  width: 240px;
  float: left;
  margin: 0 5px 0 5px; }

#whos-involved ul {
  list-style: none;
}

#whos-involved ul li {
  margin-top: 1em;
}

#footer {
  clear: both;
  font-size: 0.7em;
}

#footer p {
    float: right;
 		margin: 2px;
}